.env
/bin
/obj
KenoGame.API/bin
KenoGame.API/obj
KenoGame.API/GameStore.db
KenoGame.API/GameStore.db-shm
KenoGame.API/GameStore.db-wal
KenoGame.API/Data/Migrations


appsettings.json
# Ignore other common files and directories
*.log
*.user
*.suo
*.bak
*.cache
*.tmp
*.pdb
*.mdb
.vscode/
.DS_Store

# bin debug files
KenoGame.API/bin/Debug/net7.0/KenoGame.API.pdb
KenoGame.API/bin/Debug/net7.0/KenoGame.API.pdb
KenoGame.API/obj/Debug/net7.0/KenoGame.API.csproj.CoreCompileInputs.cache
KenoGame.API/obj/Debug/net7.0/KenoGame.API.dll
KenoGame.API/obj/Debug/net7.0/refint/KenoGame.API.dll
KenoGame.API/obj/Debug/net7.0/ref/KenoGame.API.dll
KenoGame.API/bin/Debug/net7.0/KenoGame.API.dll
KenoGame.API/obj/Debug/net7.0/KenoGame.API.csproj.CoreCompileInputs.cache
