.env
/bin
/obj
KenoGame.API/bin
KenoGame.API/obj
KenoGame.API/GameStore.db
KenoGame.API/GameStore.db-shm
KenoGame.API/GameStore.db-wal
KenoGame.API/Data/Migrations

# Ignore other common files and directories
*.log
*.user
*.suo
*.bak
*.cache
*.tmp
*.pdb
*.mdb
.vscode/
.DS_Store